@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}
.todo-input::placeholder {
  color: #ffffff4d;
}
.due-date {
  margin-left: 10px;
  font-size: 0.9em;
  display: inline-block;
  min-width: 100px;
  color: black; /* default */
}

.due-date.overdue {
  color: red;
  font-weight: bold;
}
.priority-select{
  background: #8758ff;
  color: #fff;
  border: 10cap;
  padding: 0.55rem;
  cursor: pointer;

}



.task-priority {
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  margin-left: 8px;
}

.task-priority.low {
  background-color: green;
}

.task-priority.medium {
  background-color: orange;
}

.task-priority.high {
  background-color: red;
}

.task-priority.none {
  background-color:  #8758ff;
}


.todo-btn {
  background: #8758ff;
  color: #fff;
  border: 10cap;
  padding: 0.55rem;
  cursor: pointer; 
}
.filters {
  display: flex;
  gap: 10px; /* espace entre les boutons */
  padding: 0.55rem;
  margin-bottom: 1cap;
  justify-content: center;
}

.filters button {
  background:  #fff;
  color: #8758ff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
 
}

.filters button:hover {
  background: #ece6ff;
}

.filters button.active {
  background: #5a32b5;
  color: #fff;
}



.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 